@import '../scss/variables';
@import '../scss/placeholders';

//* @define dropdown
.dropdown {
  $transition: transform get($times, 500) ease-in;

  box-sizing: padding-box;
  vertical-align: middle;
  position: relative;
  width: 100%;
  font-family: $default-font-family;

  &__button {
    @extend %input-color;

    border: solid 1px get($colors, greys, 2000);
    padding: get($spaces, 500) get($spaces, 1000);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__selected-text {
    flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 3.5em);
    white-space: nowrap;
  }

  &__menu {
    @extend %input-color;

    border: solid 1px get($colors, greys, 2000);
    border-top: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    width: inherit;
    z-index: 2;
    max-height: 10em;
    overflow-y: auto;
    box-sizing: border-box;
    transform-origin: top center;
    transform: scaleY(0);
    transition: $transition;

    &--placeholder-selected {
      color: get($colors, greys, 3000);
    }
  }

  &__menu-item,
  &__placeholder {
    list-style: none;
    padding: get($spaces, 500) get($spaces, 1000);
  }

  &__placeholder {
    color: get($colors, greys, 3000);
  }

  &__menu-item {
    cursor: pointer;

    &:hover {
      background: get($colors, action);
      color: get($colors, action-text);
    }

    &:last-child {
      border: 0;
    }
  }

  &__icon {
    @extend %svg-icon;

    height: 2em;
    width: 2em;
    margin-left: auto;
    transition: $transition;

    &--clear {
      max-width: 1.2em;
      fill: get($colors, greys, 3000);
    }
  }

  &--opened {
    .dropdown__menu {
      display: block;
      transform: scaleY(1);
    }

    .dropdown__icon--arrow {
      transform: rotate(180deg);
    }
  }
}
