$colors: (
  greys: (
    1000: #eee,
    2000: #ccc
  ),
  text: #333,
  background: #f1f1f1,
  action: #f60,
  border: #dcdcdc
);

$spaces: (
  border-radius: 3px,
  500: 0.3em,
  1000: 0.7em,
  2000: 2em
);

$breakpoints: (
  medium: only screen and
  (
    max-width: 768px
  ),
  small: only screen and
  (
    max-width: 500px
  ),
  small-not-ie: all and
  (
    -ms-high-contrast: none
  )
);

@function get($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @warn "The key '#{$key}' is not in the map '#{$map}'";

      @return null;
    }
    $map: map-get($map, $key);
  }

  @return $map;
}
