html,
body,
#app {
  height: 100%;
  margin: 0;
}

/* @define main-layout */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 25vw;
  grid-template-rows: 130px 1fr 50px;
  grid-template-areas:
    'search info'
    'books info'
    'pagination info';
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  &__search {
    grid-area: search;
  }

  &__status {
    position: fixed;
    top: 0;
    z-index: 10;
    background: gray;
    width: 100%;
  }

  &__books {
    grid-area: books;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__pagination {
    grid-area: pagination;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__info {
    grid-area: info;
    padding: 15px;
  }
}
