.book-card {
  $divider-color: #f60;

  background: red;
  box-shadow: 0 6px 10px -5px darken($divider-color, 30%);
  border-radius: 4px;
  border: solid 1px $divider-color;
  overflow: hidden;
  transition: all 0.15s ease-out;
  cursor: pointer;
  font-size: 0.8em;
  margin: 15px 5px;
  width: 22%;
}
